# Ignore temporary files
*~
*'~*
*.tmp

# ---------------------------------------------------------------------------------------------------------

# R - ignore the following:
*.RData
*.Rhistory

# ---------------------------------------------------------------------------------------------------------

# R - ignore R project info
/.Rproj.user

# ---------------------------------------------------------------------------------------------------------
