# Ignore temporary files
*~
*'~*
*.tmp

# ---------------------------------------------------------------------------------------------------------

# R - ignore the following:
*.RData
*.Rhistory

# ---------------------------------------------------------------------------------------------------------

# R - ignore R project info
/.Rproj.user
/Dynameta.Rproj

# ---------------------------------------------------------------------------------------------------------

# Added automatically when ran usethis::use_vignette("Dynameta-vignette")
inst/doc
/doc/
/Meta/
